* {
	padding: 0%;
	margin: 0;
}
.container {
	box-sizing: border-box;
	padding: 1rem;
}

.previousevent {
	line-height: 2em;
	overflow: scroll;
	max-height: 40rem;
}
.heading {
	justify-content: center;
}
h3 {
	justify-content: center;
	text-align: center;
}
.side {
	align-items: center;
}
.newevent {
	width: 150px;
	height: 35px;
	position: absolute;
	right: 0;
	margin-right: 2rem;
	background-color: rgb(120, 203, 241);
	border-radius: 10px;
	cursor: pointer;
}
.bookevent button {
	width: 150px;
	height: 35px;
	position: absolute;
	right: 0;
	margin-right: 2rem;
	background-color: rgb(120, 203, 241);
	border-radius: 10px;
}
.upcomingevent {
	padding: 30px;
	margin: 10px;
	line-height: 2em;
	overflow: scroll;
	max-height: 20rem;
}
