* {
	padding: 0%;
	margin: 0;
}
.container {
	box-sizing: content-box;
}

.previousevent {
	line-height: 2em;
	overflow: scroll;
	max-height: 50rem;
}
.heading {
	justify-content: center;
}
h2 {
	justify-content: center;
	text-align: center;
}
.side {
	align-items: center;
}
.newevent {
	height: 3rem;
	width: 5rem;
}
.bookevent button {
	width: 150px;
	height: 35px;
	position: absolute;
	right: 0;
	margin-right: 2rem;
	background-color: rgb(120, 203, 241);
	border-radius: 10px;
}
